.container{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellow;
}

.container::after,
.container::before{
  content: "";
  display: block;
  height: 4px;
  flex:1;
  background: linear-gradient(to left ,white , red);
}

.contenedor{
  margin-top: 10px;
  display: flex;
  font-size: 3em;
  flex-wrap: wrap; /*para salto de items*/
}
.item{
  background: pink;
  /*flex-grow indica el factor de crecimiento calculando el espacio que tiene*/
  width: 300px;
  flex-shrink: 1; /*con esto le decimos que tenga el tamaño indicado
  mayormete  se usa para reducir el tamaño*/
}
.item:nth-child(even){
  background: aqua;
}
.item:nth-child(3){
  flex-shrink: 5;
}

.page{
  display: flex;
  height: 100vh;
  background: yellow;
}
.aside{
  width: 200px;
  background: red;
}
.main{
  flex:1;
  background: green;
}
