*{
	box-sizing: border-box;
}
body{
	font-size: 3rem;
}
.flex-container{
	display:flex;
	background-color: yellow;
	height: 300px;
	/*para manejar los ejes*/
	/*para cambiar los ejes column 	| row*/
	/*flex-direction: row;*/
	/*para saltar de linea*/
	/*flex-wrap: wrap-reverse;*/
	/*aplica wrap y direction
	flex-flow: wrap;*/
	justify-content: center;
	align-items: center;
	/*Alineacion de items*/
		/*justify content :alinea los contents en el eje principal*/
		/*align-items : alinea los items en eje secundario*/
	/*Alineacion de lineas*/
		/*aline-content: alinea las lineas de acuerdo al container osea lo que esta adentro modifica*/
}
.flex-item{
	border: 1px solid black;
	/*margin: 1rem;	*/
	width: 100px;
	
}
/*Ejemplo2*/
.container{
	display: flex;
	height: 300px;
/*	background-color: pink;*/
	font-size: 2rem;
	justify-content: center;
	align-items: center;
}
.container::before,
.container::after{
	content: "";
	display: block;
	height: 5px;
	/*width:300px*/
	flex:1; /*con esto se adapta*/
	background: linear-gradient(to right ,blue,white);
	margin-right:.5rem;
}
.container::after{
	content: "";
	background: linear-gradient(to left ,blue,white);
	margin-left: .5rem;
	margin-right:0;

}
